.sources {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 65px;
    /* margin: 15px; */
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 10px;
    padding-right: 10px;
    /* justify-content: center; */
    scrollbar-width: none; 
}

/* .sources::before {
    content: '';
    flex: 0 0 15px; 
} */

 .sources::after {
    content: '';
    flex: 10 0 15px; 
} 


.sources::-webkit-scrollbar {
    display: none;
}

.source__item {
    background: none;
    border: 2px solid #347b85;
    font: inherit;
    border-radius: 10px;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}
