html, body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    overflow-x: hidden;
    width: 100%;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

/* .main {
    display: flex;
    flex-direction: row;
} */

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #444;
    text-align: center;
}
footer .copyright a {
    color: #ffffffc7;
}
footer .copyright a:hover {
    color: #ffda1f;
}
footer .copyright:before {
    content: '©';
}
